.login {
    padding: 19% 35%;
    min-height: 600px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: rgb(33, 44, 53);
    padding: 50px;
    border-radius: 3px;
    color: white;
    font-size: 25px;
  }

.login-form input {
    height: 35px;
    width: 245px;
    border-radius: 3px;
    margin: 15px;
    font-size: 20px;
}

.login-buttons {
    display: flex;
}

.login-button {
    color: buttontext;
    display: inline-block;
    text-align: center;
    background-color: buttonface;
    box-sizing: border-box;
    font: 400 11px system-ui;
    padding: 12px 7px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    height: 40px;
    width: 40%;
    margin: 10% auto 0;
    border-radius: 3px;
}

.login-button:hover {
    background-color: rgb(124, 128, 131);
}

.login-form button {
    height: 40px;
    width: 40%;
    margin: 10% auto 0;
    border-radius: 3px;
}

.login-form button:hover {
    background-color: rgb(124, 128, 131);
}