.profile {
    padding: 12% 5%;
    min-height: 450px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.911);
}

.saves {
    display: flex;
    justify-content: space-around;
}

.profile-list {
    border: 1px solid lightgray;
    height: 400px;
    width: 45%;
    text-align: center;
    overflow: auto;
}

.profile-list ul {
    list-style: none;
    text-align: left;
    font-size: 17px;
    padding: 0 10px 0 85px;
    line-height: 30px;
    /* overflow: auto; */
}