.profile {
    padding: 15% 5%;
    min-height: 500px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.911);
}

.saves {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.profile-list {
    border: 1px solid lightgray;
    height: 450px;
    width: 45%;
    text-align: center;
}

.profile-list ul {
    list-style: none;
    text-align: left;
    font-size: 20px;
    padding: 0 85px;
    line-height: 30px;
    overflow: auto;
}