.park-card {
    width: 31%;
    height: 210px;
    background-color: rgba(240, 248, 255, 0.384);
    border: 0.5px solid rgba(221, 230, 230, 0.253);
    text-align: center;
    padding: 5% 15px;
    font-size: 18px;
    color: rgb(13, 18, 37);
    font-family: 'Montserrat Subrayada', sans-serif;
}

.park-card:hover {
    background-color: rgba(240, 248, 255, 0.308);
    border: 0.5px solid rgba(255, 255, 255, 0.562);
    box-shadow: 0px 0px 10px 5px rgba(216, 237, 255, 0.527);
}

.active-card {
    width: 80%;
    background-color: rgba(240, 248, 255, 0.863);
    padding: 40px;
}

.active-card h1 {
    margin-top: 10px;
    font-size: 350%;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.active-card p {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.active-card button {
    font-size: 30px;
    padding: 10px 15px;
    margin: 30px 15px 0px 0px;
    border-radius: 4px;
    float: right;
    background-color: rgb(32, 44, 53);
    color: white;
    box-shadow: 2px 2px 10px 0.2px rgba(146, 142, 142, 0.897);
}

.active-card button:hover {
    font-size: 30px;
    padding: 10px 15px;
    margin: 30px 15px 0px 0px;
    border-radius: 4px;
    float: right;
    color: grey;
    box-shadow: 0px 0px 0px;
}

.buttons {
    margin-right: 20px;
}


.details {
    width: 45%;
    float: right;
    margin-right: 30px;
}

.map {
    width: 35% !important;
    height: 500px !important;
    margin: 10px 35px 0px 50px;
}